/* Estilos gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

html {
    height: 180vh;
    background-color: #f1eeee;
} 

body {
    margin: 0;
    padding: 0;
    min-height: 180vh; 
    position: relative; 
}

/* Classes */

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header */
header {
    width: 100%;
    padding: 30px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #636F62;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: white;
}

/* Navegação */
header a {
    font-size: 30px;
    color: black;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #232325;
    text-decoration: none;
    font-size: 16px;
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #906F4E;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover {
    background-color: var(#896A4B);
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* Banner */
.content {
    height: 100vh;
    background-image: url(imagens/fundo-T.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Organiza conteúdo em coluna */
    padding-top: 50px; /* Espaço no topo */
}


.titulo {
    text-align: center; 
    background-color: #f1eeee; 
    border-radius: 15px; 
    padding: 100px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
    margin: 20px auto 30px auto; 
    width: 94%; 
}

.titulo h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #906F4E;
}

/* Adiciona uma linha de divisão */
.divider {
    width: 100%;
    height: 5px;
    background-color: #ccc;
    margin: 10px 0; /* Espaçamento acima e abaixo */
}

/*colunas*/
.main-content {
    display: flex;
    justify-content: space-between; /* Para alinhar nas extremidades */
    align-items: center; 
    padding: 60px;
    min-height: 400px; /*altura mínima */
}

.main-content .blog-container {
    display: flex;
    justify-content: space-between; /* Alinha nas extremidades */
    gap: 40px; /* Espaçamento entre as colunas */
}

.main-content .blog-container {
    background-color: #f1eeee;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    height: 400px;
}

.blog-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #906F4E;
}

.blog-container p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/*coluna da imagem*/
.blog-coluna {
    width: 48%; /* Largura da coluna da imagem */
    height: 400px;
    top: 50%; /* Altura da coluna */
}

.blog-coluna img {
    width: 100%; 
    height: 100%; 
    border-radius: 15px; 
    object-fit: cover; /* Para que a imagem preencha o espaço da coluna */
}


/* Footer */
footer p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%; /* para ocupar a largura da página */
    background-color: #636F62; /* Para destacar o fundo */
    padding: 10px 0; /* espaçamento */
    font-size: 16px; 
}

